@import "_reset";
* {
    scroll-behavior: smooth;
}
// header styles
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #07374a;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    &_name {
        font-family: "Permanent Marker";
        font-size: 1.9rem;
        cursor: pointer;
    }
    &_menu {
        .menu_list {
            display: flex;
            gap: 40px;
            font-size: 1.2rem;
            .menu_item a {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    bottom: -5px;
                    left: 0;
                    transform: scaleX(0);
                    transition: all .3s ease-in-out;
                }
                &:hover::before {
                    transform: scaleX(1);
                } 
            }
        }
    }
    &-small {
        height: 60px;
    }
}
.burger,
.menu-mobile {
    display: none;
}
.menu-mobile {
    padding: 80px 20px 20px 30px;
    position: fixed;
    width: 350px;
    background-color: #07374a;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -5;
    display: flex;
    flex-direction: column;
    transition: all .3s ease;
    transform: translateX(-200%);
    &.is-active {
        transform: translateX(0);
    }
    &_list {
        flex: 1 1 auto;
    }
    &_item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    &_link {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
    &_socials {
        display: flex;
        justify-content: space-evenly;
        li a svg {
            fill: #25b79f;
            &:hover {
                fill: #fff;
            }
        }
    }
}
.hidden {
    overflow: hidden;
}
#overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;   
    background-color: #25b79f;
    opacity: .4;
    z-index: 10;
    &.open {
       display: block;
       overflow: hidden;
    }
}
// header styles

// intro styles
.intro {
    background-color: #25b79f;
    height: 100vh;
    position: relative;
}
.intro_wrap {
    padding-top: 35vh;
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
    &_title {
        margin-bottom: 50px;
        font-family: "Permanent Marker";
        font-size: 3.5rem;
    }
    &_subtitle {
        font-size: 3rem;
    }
    &_arrow {
        cursor: pointer;
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        &::after {
            position: relative;
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            border-left: 4px solid #fff;
            border-bottom: 4px solid #fff;
            transform: rotate(-45deg);
            animation: bounce 1.5s infinite;
        } 
    }
}
@keyframes bounce {
    0% {
        bottom: 0;
    }
    25% {
        bottom: -2px;
    }
    50% {
        bottom: -4px;
    }
    75% {
        bottom: -2px;
    }
    100% {
        bottom: 0;
    }
}
// intro styles

// section_title
.section_title {
    font-family: "Permanent Marker";
    font-size: 2.2rem;
    color: #25b79f;
    margin-bottom: 60px;
}
// section_title

// about styles
.about {
    background-color: #07374a;
    padding: 100px 0;
}
.about_me {
    display: flex;
    &_descr {
        flex: 50%;
        .descr_photo {
            margin: 0 auto;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 40px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .descr_text {
            padding: 0 20px;
            font-size: 1.2rem;
            text-align: justify;
            p:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    &_skills {
        flex: 50%;
        padding: 30px 0;
        .skills_title {
            text-align: center;
            font-size: 1.6rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .skills_list {
            columns: 2 auto;
            &_item {
                font-family: "Permanent Marker";
                text-align: center;
                color: #25b79f;
                font-size: 1.4rem;
                padding: 20px;
            }
        }
    }
}
// about styles

// portfolio styles
.portfolio {
    background-color: #25b79f;
    padding: 100px 0;
}
.portfolio_wrap {
    &_title {
        color: #07374a;
    }
}
// portfolio styles

// splider
.splide__slide {
    position: relative;
    padding: 5px 20px;
    background-color: #07374a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid #25b79f;
    &:hover img {
        transform: scale(1.1); 
    } 
    .pic_wrap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .5s ease;
        }
    }
    .info {
        font-family: "Permanent Marker";
        font-size: 1.2rem;
        padding: 20px 0 10px;
        text-align: center;
    }
    a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; 
        &::before {
            content: "Click to view";
            width: 100%;
            height: 100%;
            top: 0;
            position: absolute;
            transform: translateY(-110%);
            color: #25b79f;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Permanent Marker";
            font-size: 2.4rem;
            background-color: #07374a;
            opacity: .9;
            transition: ease .5s all;
            z-index: 100;
        }
        &:hover::before {
            transform: translateY(0);
        }
    }
}
.splide__arrow--prev {
    left: -30px;
    svg {
        fill: #07374a;
    }
    &:hover {
        background-color: #07374a;        
        svg {
            fill: #25b79f;
        }
    }
}
.splide__arrow--next {
    right: -30px;
    svg {
        fill: #07374a;
    }
    &:hover {
        background-color: #07374a;        
        svg {
            fill: #25b79f;
        }
    }
}
.splide__pagination__page {
    display: none;
}
// slider

// certifications
.certifications {
    background-color: #07374a;
    padding: 100px 0;
}
.certifications_wrap_image {
    display: flex;
    flex-wrap: wrap;
    .image_wrap {
        flex: 50%;
        padding: 20px;
        img {
            cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 4px solid #25b79f;
            transition: all .5s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
// certifications

// footer
.footer {
    background-color: #25b79f;
    padding: 100px 0 30px;
}
.footer_wrap_title {
    color: #07374a;
}
.footer_wrap_contats {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    .contats_title {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 20px;
    }
    .contats_links {
        display: flex;
        gap: 100px;
        justify-content: center;
        a {
            font-size: 1.2rem;
            &:hover {
                transition: all .5s ease;
                color: #07374a;
            }
        }
    }
}
.footer_wrap_socials {
    display: flex;
    justify-content: center;
    gap: 40px;
    .social_item {
        a { 
            display: flex;
            color: #07374a;
            font-size: 700;
            transition: all .5s ease;
            svg {
                position: relative;
                top: -6px;            
            }
            &:hover {
                color: #fff;
                fill: #fff;
            }
        }
    }
}
// footer

@media screen and (max-width: 900px) {
    .header_menu {
        display: none;
    }
    .burger {
        display: block;
    }
}
@media screen and (max-width: 767px) {
    .about_me {
        flex-wrap: wrap;
        &_descr {
            flex: 100%;
            margin-bottom: 50px;     
        }
        &_skills {
            flex: 100%;
        }
    }
    .certifications_wrap_image .image_wrap {
        flex: 100%;
    }
    .social_title {
        display: none;
    }
    .splide__arrow--prev,
    .splide__arrow--next {
        display: none;
    }
    .splide__pagination__page {
        display: block;
        bottom: -30px;
    }
}
@media screen and (max-width: 550px) {
    .footer_wrap_contats .contats_links {
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width: 420px) {
    .about_me_skills .skills_list {
        columns: 1 auto;
    }
}